
.about-me {
  text-align: center;
}
.backgroung{
  background-image: url(../images/logo.jpg);
  background-size: cover;
}
.heading{
  font-family: 'Do Hyeon', sans-serif;
  
}
.resize{
    width= 700px;
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.carousel-item {
 height: 500px;
    text-align: center;
}

