
.about-me {
  text-align: center;
}
.backgroung{
  background-image: url(../images/logo.jpg);
  background-size: cover;
}
.heading{
  font-family: 'Sofia';font-size: 25px;
}
.resize{
    width: 300px;
}


