.spacing{
  padding-top:50px
}
.reduce_spacing{
  padding-top:1px
  padding-bottom:5px
}
.bg { 
  /* The image used */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTYKARPRZ8MAVf8Ti_hw5kiaRQ0acYFM2ZGpQ&usqp=CAU");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left_gap{
  padding-left: 10px;
}
.heading{
  font-family: 'Do Hyeon', sans-serif;
  
}

.item img {
    height: 450px !important;
    width: 850px !important;
}

.carousel-item {
 height: 500px;
    text-align: center;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.
